<header class="header-sub-alt">
	<a href="/">
		<svg>
			<use xlink:href="/media/images/arrow-icon.svg#arrow-icon"></use>
		</svg>
	</a>

	<a href="/settings/profile">
		<svg>
			<use
				xlink:href="/media/images/settings-icon-outline.svg#settings-icon"
			></use>
		</svg>
	</a>
</header>
