// Import Variables
@import './variables';

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: $background-color;
	border-top: 1px solid $sub-background-color;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: $sub-background-color;
		width: 25%;
		height: 100%;
		display: flex;
		align-items: center;

		&.active {
			color: $primary-color;
		}

		svg {
			height: 22px;
			width: 100%;
		}
	}
}
