<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/_head'); %>
	</head>

	<body>
		<main>
			<h1>Welcome <%= user.username %></h1>

			<form action="/logout?_method=DELETE" method="POST">
				<button type="submit">Logout</button>
			</form>
		</main>
	</body>
</html>
